html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 85%);
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  transition: all 1.5s ease-in-out;
  position: relative;
}

.panel {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  text-align: center;
}

.panel p {
  font-size: 32px;
  color: #fff;
}

.timeline {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.timeline__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.timeline__item.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}
